Repository Jos620/astro-template: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run typecheck, prettier --write, eslint

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,ts,astro}": [
    "pnpm run typecheck",
    "prettier --write",
    "eslint"
  ],
  "*.json": ["prettier --write"]
}

chore(git): ignore .vercel/ directory
  .gitignore
Due: none

test: remove trailing slash from hx-get
  src/components/RandomNumber.astro
Due: pnpm run typecheck, prettier --write, eslint

feat(seo): add SEO tags
  src/layout/default.astro
Due: pnpm run typecheck, prettier --write, eslint

refactor(layout): remove ternary from template
  src/layout/default.astro
Due: pnpm run typecheck, prettier --write, eslint

refactor(random-number): simplify random number example
  src/components/RandomNumber.astro
  src/pages/index.astro
  src/pages/random-number/index.astro
Due: pnpm run typecheck, prettier --write, eslint

chore: update astro to 4.5.4
  package.json
  pnpm-lock.yaml
Due: prettier --write
